# replicaCount: 1

# image:
#   repository: wrakash/sky-gateway
#   pullPolicy:  Always
#   tag: "1.0.0"
#   # repository: api-gateway
#   # tag: "latest"
#   # pullPolicy: IfNotPresent

# imagePullSecrets: []
# nameOverride: ""
# fullnameOverride: ""

# serviceAccount:
#   create: true
#   annotations: {}
#   name: ""

# podAnnotations: {}

# podSecurityContext: {}

# securityContext: {}

# service:
#   type: LoadBalancer
#   port: 3000

# ingress:
#   enabled: true
#   className: "nginx"
#   annotations:
#     nginx.ingress.kubernetes.io/rewrite-target: /
#   hosts:
#     - host: api-gateway.local
#       paths:
#         - path: /
#           pathType: Prefix
#   tls: []

# resources:
#   limits:
#     cpu: 500m
#     memory: 512Mi
#   requests:
#     cpu: 250m
#     memory: 256Mi

# autoscaling:
#   enabled: false
#   minReplicas: 2
#   maxReplicas: 5
#   targetCPUUtilizationPercentage: 80

# nodeSelector: {}

# tolerations: []

# affinity: {}

# env:
#   - name: PORT
#     value: "3000"
#   - name: NODE_ENV
#     value: "production"
#   - name: SERVICE1_URL
#     value: "http://service1:3001"
#   - name: SERVICE2_URL
#     value: "http://se

replicaCount: 1

image:
  repository: sky-gateway
  tag: "final"
  pullPolicy: Never   # Force Kubernetes to use NEW image

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

service:
  type: LoadBalancer
  port: 3000

env:
  - name: PORT
    value: "3000"
  - name: NODE_ENV
    value: "production"
  - name: SERVICE1_URL
    value: "http://service1:3001"
  - name: SERVICE2_URL
    value: "http://service2:3002"

livenessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 40
  periodSeconds: 10
  timeoutSeconds: 5
readinessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 30
  periodSeconds: 5
  timeoutSeconds: 5 
resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: api-gateway.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

autoscaling:
  enabled: false        # HPA disabled (no scaling)
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
